<!-- <mat-drawer-container class="drawer-container" [hasBackdrop]="true">
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>

  <mat-drawer mode="over" position="end" [opened]="open" (closed)="closeDrawer()" class="drawer">
    <div class="notification-content">
      <h4 class="notification-title">Notifications</h4>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item (click)="closeDrawer()">
          <mat-icon matListItemIcon color="primary">notifications_active</mat-icon>
          <div matListItemTitle>New visa application update available</div>
          <div matListItemLine>2 mins ago</div>
        </mat-list-item>
        
        <mat-divider inset></mat-divider>
        
        <mat-list-item (click)="closeDrawer()">
          <mat-icon matListItemIcon color="primary">check_circle</mat-icon>
          <div matListItemTitle>Your profile has been verified</div>
          <div matListItemLine>1 hour ago</div>
        </mat-list-item>
        
        <mat-divider inset></mat-divider>
        
        <mat-list-item (click)="closeDrawer()">
          <mat-icon matListItemIcon color="primary">info</mat-icon>
          <div matListItemTitle>Your documents have been uploaded</div>
          <div matListItemLine>3 hours ago</div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>
</mat-drawer-container> -->