<div>
    <!-- employer listing  -->
    <app-employer></app-employer>

    <!-- Applications Listing  -->
     <app-applications></app-applications>
    </div>
  
  <!-- <div class="container-fluid p-8">
    <div class="row">
      <div class="container-admin-dashboard">
        <h5 class="heading">Admin Dashboard</h5>
        <div *ngIf="employers.length==0">No Employer Found</div>
        <div *ngIf="employers.length > 0">
          <app-employer *ngFor="let employer of employers" [employer]="employer"></app-employer>
        </div>
      </div>
    </div>
  </div> -->
  